[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
	branch = master
        update = rebase
        
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
	branch = master
        update = rebase
[submodule "slime-repl-ansi-color"]
	path = slime-repl-ansi-color
	url = https://github.com/enriquefernandez/slime-repl-ansi-color.git
